/* ======= CUSTOM INPUT ============ */
.gs-form-item--auth {
  position: relative;
  width: 100%;

  .el-form-item__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 16px;
    padding-bottom: 0;
    transition: all 0.2s ease-out;
  }

  .has-value {
    color: #4d00d2;
    top: 15%;
    font-size: 12px;
    transition: all 0.2s ease-in;
  }

  .el-input__inner, .el-textarea__inner {
    color: #070013;
    font-weight: 500;
    height: 60px;
    padding: 15px 15px 0;
    border: none;
    border-bottom: 1px solid rgba(1, 21, 25, 0.1);
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    transition: all 0.25s ease-out;
  }

  .el-textarea__inner {
    height: auto !important;
  }

  i {
    position: relative;
    top: 10%;
    right: 10px;
  }

  .el-textarea__inner {
    height: 80px;
    padding-top: 28px;
  }

  .el-input__inner:focus, .el-textarea__inner:focus {
    outline: 0 !important;
    border-color: #4d00d2;
    transition: all 0.25s ease-in;
  }
}

.el-input.is-disabled .el-input__inner {
  background-color: transparent !important;
}

.gs-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;

  .el-form-item {
    margin-bottom: 0;
    height: auto !important;
    width: 300px;
  }

  .el-button {
    margin-right: 10px;
    display: flex;
    align-items: center;

    i {
      margin-left: 5px;
      font-size: 12px;
    }

    &:hover {
      border-color: #7f828b;
      color: #7f828b;
      transform: translateY(0) !important;
      box-shadow: none !important;
    }
  }
}

/* ========== BUTTON =========== */
.el-button {
  transition: all 0.2s ease-in;
}

.el-button:not(.el-button--text):not(.el-button--mini):not(.el-button--small):focus,
.el-button:not(.el-button--text):not(.el-button--mini):not(.el-button--small):hover {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  transform: translateY(-3px);
  transition: all 0.2s ease-out;
}

.el-button:focus {
  outline: none !important;
}

.el-button--text {
  padding: 15px 30px;
}

/* ========== CARD ========== */
.el-card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: none !important;

  .el-card__body {
    padding: 0 !important;
  }
}

/* ======== POPOVER ======= */
.el-popover {
  width: 300px !important;
  min-height: 200px;
  top: 50px !important;
}

.el-popper[x-placement^="right"] .popper__arrow::after {
  top: -40px;
}


/* ====== TAB NAV ====== */
.el-tabs__header {
  margin-bottom: 40px;
}

.el-tabs__item {
  padding: 0 30px;
  font-size: 16px;
}


/* ===== NOTIFICATION ======== */
.el-message {
  min-height: 80px;
  left: unset;
  right: 20px;
  transform: translateY(0);

  &.el-message--success {
    background-color: #07001399;

    i, .el-message__content {
      color: #fff;
      font-size: 18px;
    }
  }
}


/* ===== SELECT ======== */
.el-select {
  width: 100%;
}


/* ===== MESSAGE BOX ===== */
.el-message-box {
  width: 500px;
  padding: 30px;
}

/* ===== DIALOG ====== */
.el-dialog__wrapper.large .el-dialog {
  height: 70vh;
}

.el-dialog {
  margin-top: 5vh !important;
  overflow-y: scroll;
}

.el-dialog__header {
  padding: 30px 50px 0;

  .el-dialog__title {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.el-dialog__body {
  padding: 50px;
}

@media (max-width: 1200px) {
  .el-dialog {
    width: 80% !important;
  }
}


/* ======== TABLE ======== */
.el-table {
  th {
    text-transform: uppercase;
    font-size: 12px;
  }
}
